.nav {
  z-index: 1;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  width: 300px;
  height: 100vh;
  padding-top: 24px;
  gap: 8px;  
  background-color: rgba(255, 255, 255, 0.17);
}

.searchButtonCont button {
  background: none;
  padding: 0;
  border: none;
  color: white;
}

.searchButtonCont button:focus {
  background: none;
  outline: none;
  border: none;
  color: white;
}

.visible {
  display: inline;
  flex-grow: 2;
}

.hidden {
  display: none;
}

.hiddenOnMobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  width: 90%;
}

.searchButtonCont {
  display: none;
}

.logoCont {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.logoimg img {
  width: 56px;
}

.logotext {
  margin: 0 6px;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: .5px;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .1);
}

.navFirstBlock {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.navSecondBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  width: 90%;
}

.card {
  height: 48px;
}

@media screen and (max-width: 800px) {
  .nav {
    padding: 0;
    width: 100%;
    height: auto;
  }

  .navFirstBlock {
    height: 64px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .hiddenOnMobile {
    display: none;
  }

  .navSecondBlock {
    width: 100%;
    flex-direction: row;
    padding: 0 0 8px 5%;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
  }
  
  .card {
    min-width: 120px;
    flex-shrink: 0;
    width: auto;
    height: 36px;
  }

  .logoCont {
    margin: 0;
    align-items: center;
    justify-content: flex-start;
  }

}

@media screen and (max-width: 600px) {

  .searchContNav {
    display: none;
  }

  .searchButtonCont {
    margin-right: 16px;
    display: inline;
    color: white;
    font-size: 1.1rem;
    text-shadow: 1px 1px 5px;

  }

}