img {
    width: 64px;
    margin: auto;
}

.hour {
    font-size: 0.9rem;
}

#container {
    text-align: center;
    color: white;
    padding: 12px;
}
.last {
    border-right: 1px solid rgba(255, 255, 255, 0.2)
}   

.temp {
    font-size: 1.5rem;
    font-weight: 300;

}

.weather {
    font-size: 0.8rem;
}

.weather::first-letter {
    text-transform: uppercase;
}


@media screen and (max-width: 540px) {

    .hour {
        font-size: 0.8rem;
    }

    img {
        width: 48px;
    }
    .weather {
        font-size: 0.7rem;
        line-height: 0.9rem;
    }
    
    #container {
        padding: 8px 14px;
    }

}