.homeBody {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}

.searchCont {
    max-width: 540px;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 100px;
}

.searchCont form {
    margin: auto;
}

.logotext {
    margin-right: 24px;
    color: white;
    font-size: 2.8rem;
    font-weight: 300;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    width: 170px;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.15));
}

@media screen and (max-width: 800px) {
    .searchCont {
        margin-bottom: 150px;
    }

    .logo {
        flex-direction: column;
    }

    .logotext {
        margin: 0;
        position: relative;
        top: -20px;
        font-size: 2.5rem;
    }
    
}