#logoHenry {
  margin-right: 20px;

}

.navbar-logo {
  position: absolute;
  left: 24px;
  top: 12px;
}

.navbar {
  background-color: blue;
  display: flex;
  justify-content: center;
}

.searchCont {
  width: 500px;
  justify-self: center;
}