.contenedor {
    color: white;
    width: 100%;
    height: 100%; 
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.9rem;
    font-weight: 300;
    background: linear-gradient(#65a9cb,#1f8dbb);
}

#card {
    height: 100%;
    width: 100%;
}

.city {
    padding-left: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.contenedor img {
    width: 48px;
}

.temp {
    height: 100%;
    letter-spacing: -0.7px;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 4px;
}

.closeBtn {
    z-index: 10;
    display: none;
    opacity: 80%;
    border-radius: 50%;
    border: none;
    width: 20px;
    height: 20px;
    font-size: 0.8rem;
    line-height: 20px;
    color: white;
    background-color: rgb(211, 20, 20);
    margin-right: 4px;
}

.contenedor:hover .closeBtn {
    display: inline;
}

.contenedor:hover .temp {
    display: none;
}

.link {
    display: inline;
    font-weight: 500;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    border-left: 1px solid rgba(255, 255, 255, 0.8);
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;

}

.tempOrButton {
    font-weight: 300;
    height: 100%;
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link + .tempOrButton {
    font-weight: 400;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    border-right: 1px solid rgba(255, 255, 255, 0.8);
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

@media screen and (max-width: 800px) {
    .tempOrButton {
        width: auto;
        padding-right: 8px;
    }

    #card {
        flex-grow: 1;
    }

    .city {
        margin-right: 8px;
        font-size: 0.8rem;
    }
   
    .temp {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 380px) {
    .tempOrButton {
        width: auto;
        padding-right: 8px;
    }

    #card {
        flex-grow: 1;
    }

    .city {
        margin-right: 8px;
        font-size: 0.8rem;
    }
   
    .temp {
        font-size: 1.1rem;
    }
}