#searchCont {
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 24px;
    height: 40px;
    padding: 0 6px;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 4%)
}
.form {
    width: 100%;
    flex-grow: 1;
}
.searchButton {
    background: none ;
    border: none;
}

.errCont {
    visibility: visible;
}
.errContHidden {
    visibility: hidden;
}

.errSpan {
    font-size: 0.7rem;
    font-weight: 600;
    color: red;
    margin: 4px 0;
    text-align: left;
    display: block;
    padding-left: 36px;
}

.hidden {
    display: none;
}

.iconBox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 4px;
    height: 100%;
    width: 24px;
}

.errIcon {
    display: inline;
    color: white;
}

.spinner {
    display: flex;
    justify-content: center;
    display: inline;
    padding-bottom: 3px;
}

.searchIcon {
    color: white;
}

.searchInput {
    flex-grow: 1;
    text-decoration: none;
    outline: none;
    background: none;
    border: none;
    color: white;
    font-size: 0.9rem;
    font-weight: 400;    
    line-height: 40px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.searchInput::placeholder {
    color: white;
    font-size: 0.9rem;
    font-weight: 400;    
    line-height: 40px;
}

.searchInput:focus {
    text-decoration: none;
    outline: none;
    background-color: none;
    border: none;
}

#searchCont:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.focus {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.unfocus {
    background-color: inherit
}