body {
    -webkit-transition: background 1s ease-in-out;
    -moz-transition: background 1s ease-in-out;
    -o-transition: background 1s ease-in-out;
    -ms-transition: background 1s ease-in-out;    
    transition: background 1s ease-in-out;
}